/* Ventana principal con borde redondeado Teal */
window {
    font-family: "JetBrainsMono Nerd Font Medium";
    font-size: 12pt; /* Tamaño base */
    background-color: #1e1e2e; /* Base de Catppuccin */
    border: 3px solid #94e2d5; /* Borde color Teal~~ */
    border-radius: 15px;
}

/* Contenedor exterior */
#outer-box {
    margin: 10px;
    background-color: transparent;
}

/* Caja de búsqueda */
#input {
    margin: 10px;
    border: 2px solid #313244;
    border-radius: 10px;
    background-color: #313244;
    color: #cdd6f4;
}

/* Intercalado de colores (Zebra striping) */
#entry:nth-child(even) {
    background-color: #181825; /* Gris más oscuro */
}

#entry:nth-child(odd) {
    background-color: #1e1e2e; /* Gris base */
}

/* Estilo general de las entradas */
#entry {
    padding: 10px;
    border-radius: 10px;
    margin: 2px 5px;
}

/* Iconos del tamaño de la letra */
#img {
    margin-right: 10px;
    width: 15px; /* Ajustado al font-size aprox */
    height: 20px;
}

/* EFECTO DE SELECCIÓN: 25% más grande */
#entry:selected {
    background-color: #45475a; /* Color de realce */
    outline: none;
}

#text:selected {
    font-size: 1.30em; /* 50% de incremento en texto~~ */
    color: #94e2d5; /* Texto en teal para resaltar */
}

#img:selected {
    width: 25px; /* 25% de incremento sobre los 20px base */
    height: 25px;
}
